/*
/.**

!/.gitignore

!/.bash_logout
!/.bashrc
!/.gitconfig
!/.profile
!/install.txt

!/.config/
!/.config/bottom/
!/.config/bottom/**
!/.config/fish/
!/.config/fish/**
!/.config/inim/
!/.config/inim/inim.ini
!/.config/lazygit/
!/.config/lazygit/config.yml
!/.config/moe/
!/.config/moe/**
!/.config/nvim/
!/.config/nvim/**
!/.config/nvim_old_setting/
!/.config/nvim_old_setting/**
!/.config/zellij/
!/.config/zellij/**
!/.rustup/
!/.rustup/**

.config/nvim/lazy-lock.json
