/*
/.**

!/.gitignore

!/default
!/ubuntu
!/archlinux

!/ubuntu/.bash_logout
!/ubuntu/.bashrc
!/default/.gitconfig
!/ubuntu/.profile
!/ubuntu/install.txt

!/default/.config/
!/default/.config/bottom/
!/default/.config/bottom/**
!/default/.config/fish/
!/default/.config/fish/**
!/default/.config/inim/
!/default/.config/inim/inim.ini
!/default/.config/lazygit/
!/default/.config/lazygit/config.yml
!/default/.config/moe/
!/default/.config/moe/**
!/default/.config/nvim/
!/default/.config/nvim/**
!/default/.config/nvim_old_setting/
!/default/.config/nvim_old_setting/**
!/default/.config/zellij/
!/default/.config/zellij/**
!/default/.rustup/
!/default/.rustup/**

default/.config/nvim/lazy-lock.json
