# This is Git's per-user configuration file.
[user]
	email = kerorinnf@gmail.com
	name = kerorinnf
# Please adapt and uncomment the following lines:
#	name = kerorinnf
#	email = kerorinnf@gmail.com 
[alias]
	st = status
[init]
	defaultBranch = main
[core]
	editor = vim
	pager = delta

[interactive]
	diffFilter = delta --color-only
	line-numbers = true

[delta]
	navigate = true
	dark = true
