input {
  keyboard {
    xkb {
      layout "jp"
      model "jp106"
    }
  }
  mod-key "Alt"
}

spawn-at-startup "noctalia"
spawn-at-startup "foot"

binds {
  Mod+Return { spawn "foot"; }
  Mod+Q { close-window; }
  Mod+Shift+E { quit; }
  Mod+D { spawn "rofi" "-show" "drun"; }
  Mod+W { spawn "rofi" "-show" "window"; }
  Mod+N { spawn "swaync-client" "-t" "-swb"; }
}

layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}
