include "binds.kdl"
include "io.kdl"
include "rule.kdl"
include "startup.kdl"

layout {
  gaps 8
  default-column-width { 
    proportion 0.5;
  }
}

blur {
  offset 2
  saturation 2
}

hotkey-overlay {
  skip-at-startup
}

gestures {
  dnd-edge-view-scroll {
    trigger-width 100
  }
}

cursor {
  xcursor-theme "Eku"
  xcursor-size 16
}

debug {
  honor-xdg-activation-with-invalid-serial
}
