input {
  keyboard {
    xkb {
      layout "jp"
      model "jp106"
    }
  }
  mod-key "Alt"
}

spawn-at-startup "foot"

binds {
  Mod+Return { spawn "foot"; }
  Mod+Q { close-window; }
  Mod+Shift+E { quit; }
}
