layer-rule {
  match namespace="^noctalia-backdrop"
  place-within-backdrop true
}

// default
window-rule {
  draw-border-with-background false
  background-effect {
    blur true
  }
}

// floating
window-rule {
  match is-floating=true

  focus-ring {
    off
  }

  shadow {
    on
    softness 20
    spread 3
    offset x=0 y=0
  }
}

// スクリーンキャプチャ中のウィンドウ枠を赤く表示.
window-rule {
  match is-window-cast-target=true
  focus-ring {
    active-color "#f38ba8"
    inactive-color "#7d0d2d"
  }
}

// noctaliaの設定ウィンドウをフロートで表示.  
window-rule {
  match app-id="dev.noctalia.Noctalia"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}

// foot terminalを720pのfloatモードで起動.
window-rule {
  match app-id="float"
  open-floating true
  default-column-width { fixed 1270; }
  default-window-height { fixed 720; }
}

// vivaldi
window-rule {
  match app-id="vivaldi-stable"
  scroll-factor 0.25
}

window-rule {
  match app-id="discord"
  scroll-factor 0.25
}
